# domain
# assumes you have a hosted zone of the same name in route 53
# this is also the name of the domain that will be created in mailgun
# running terraform will create the necessary A, CNAME, TXT, and MX records in route 53
domain  = "jschr.io"

# aws
region          = "us-east-1"
aws_access_key  = ""
aws_secret_key  = ""

# mailgun
# create an account at https://www.mailgun.com if you don't have one
# get your api key from the accounts page: https://app.mailgun.com/app/account/security
#
# you will need to trigger domain verification through mailgun after the first deploy
# if you don't want to wait 24 hours: https://app.mailgun.com/app/domains
#
# you can setup mailgun to forward all emails to another account (ie. gmail) using routes
# setup the route through the admin ui at: https://app.mailgun.com/app/routes
#
#   example catch-all route:
#       type: catch all
#       actions: [x] forward
#         myaccount@gmail.com
#
mailgun_api_key         = ""
mailgun_smtp_password   = ""


# application environment variables for our lambda function
env_vars = {
  NODE_ENV                      = "production"

  # twitter keys
  # go to https://apps.twitter.com/app/new and create a new application
  # generate an access token and secret
  # don't forget to update /.env for local development!
  TWITTER_CONSUMER_KEY          = ""
  TWITTER_CONSUMER_SECRET       = ""
  TWITTER_ACCESS_TOKEN          = ""
  TWITTER_ACCESS_TOKEN_SECRET   = ""

  # google analytics
  # go to https://analytics.google.com and create a new property
  # paste the tracking code below
  GA_TRACKING_ID                = "UA-XXXXX-1"
}
